<ion-content padding id="page2" style="background: rgb(229, 235, 235)">
  <ion-list id="home-list1">
    <ion-item-divider color="light" id="home-list-item-divider1" style="text-align: right" >
      <ion-icon item-start>{{qtdAvOpned}}</ion-icon>
      <h1>Avaliações Abertas</h1>
    </ion-item-divider>
    <ion-list id="listOpned">
      <ion-item color="none" id="home-list-item9" *ngFor="let item of avaliacoesAbertas" >
          <div>Id: {{item.codigo}}</div>
          <div>Periodo: {{item.dataInicio}} a {{item.dataTermino}}</div>
          <div></div>
      </ion-item>
     
    </ion-list>
  </ion-list>
  <div class="spacer" style="height:70px;" id="home-spacer1"></div>
  <ion-list id="home-list8">
    <ion-item-divider color="light" id="home-list-item-divider3" style="text-align: right">
      <ion-icon item-start>{{qtdAvSchedule}}</ion-icon>
      <h1>Avaliações Agendadas</h1>

    </ion-item-divider>
    <ion-list id="home-list7" >
      <ion-item color="none" id="home-list-item10" *ngFor="let item2 of avaliacoesAgendadas" >
        <div>Id: {{item2.codigo}}</div>
        <div>Periodo: {{item2.dataInicio}} a {{item2.dataTermino}}</div>
        <div></div>
      </ion-item>
    </ion-list>
  </ion-list>
  <page-menu ></page-menu>
  <!--Trying use with an anoter component, a external component. 
        <div style="position: fixed; bottom: 0;   left:7px; width: 100% ; background-color: rgb(229, 235, 235)"    >      

          <div style="position: fixed; bottom: 0;   left:7px; width: 100% ; background-color: rgb(229, 235, 235)"    >      
            <hr style="border-width: 2px; left: 0; width: 100% "  />
            
            <button id="home-button"     ion-button color={{buttonColor()}} round style="width: 17%">
              <ion-icon name="home"></ion-icon>
            </button>
            <button id="schedule-button" ion-button color={{buttonColor()}} round style="width: 17%"  (click)="goTo('SchedulePage')">
              <ion-icon name="time"></ion-icon>
            </button>
            <button id="open-button"     ion-button color={{buttonColor()}} round style="width: 17%"  (click)="goTo('OpnedPage')">
              <ion-icon name="play"></ion-icon>
            </button>
            <button id="ended-button"    ion-button color={{buttonColor()}} round style="width: 17%" on-click="warnUser()">
              <ion-icon name="calendar"></ion-icon>
            </button>
            <button id="user-button"     ion-button color={{buttonColor()}} round style="width: 17%" on-click="goTo('UserPage')">
              <ion-icon name="person"></ion-icon>
            </button>
          </div>
        -->
        
</ion-content>